* {
    box-sizing: border-box;
}
body {
    font-family: 'Karla', sans-serif;
    background-color: #beffdb;
}
.container {
    margin: 20px auto;
    width: 1000px;
}
.game-info {
    display: flex;
}
.game-info .game-name {
    flex: 1;
    font-weight: bold;
}
.game-info .category {
    flex: 1;
    text-align: right;
}
.game-info .category span {
    font-weight: bold;
    color: #E91E63;
    text-transform: uppercase;
}
hr {
    border: 1px solid #eee;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row .hangman-draw {
    flex: 1;
    background-color: #beffdb;
    height: 324px;
    padding: 20px;
}
.hangman-draw .the-draw {
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    left: -60px;
    display: none;
    transition: 0.3s;
}
.the-draw .the-stand {
    width: 4px;
    background-color: #222;
    height: 101%;
    position: absolute;
    right: 50%;
    display: none;
    transition: 0.3s;
}
.the-stand::after {
    content: "";
    position: absolute;
    width: 120px;
    background-color: #222;
    height: 4px;
    top: 20px;
    transition: 0.3s;
}
.the-draw .the-rope {
    background-color: #222;
    width: 4px;
    height: 60px;
    position: absolute;
    right: -90px;
    top: 20px;
    display: none;
    transition: 0.3s;
}
.the-man .the-head {
    width: 50px;
    height: 50px;
    border: 4px solid #222;
    border-radius: 50px;
    position: absolute;
    right: -114px;
    top: 77px;
    display: none;
    transition: 0.3s;
}
.the-man .the-body {
    width: 4px;
    height: 75px;
    background-color: #222;
    position: absolute;
    right: -90px;
    top: 126px;
    display: none;
    transition: 0.3s;
}

.the-man .the-hand {
    display: none;
    transition: 0.3s;
}
.the-man .the-hand::before,
.the-man .the-hand::after {
    content: "";
    width: 4px;
    height: 50px;
    top: 131px;
    background-color: #222;
    position: absolute;
    border-radius: 6px;
}
.the-man .the-hand::before {
    right: -70px;
    transform: rotate(55deg);
}
.the-man .the-hand::after {
    right: -110px;
    transform: rotate(-55deg);
}
.the-man .the-leg::before,
.the-man .the-leg::after {
    content: "";
    width: 4px;
    height: 50px;
    top: 191px;
    background-color: #222;
    position: absolute;
    border-radius: 6px;
}
.the-man .the-leg {
    display: none;
    transition: 0.3s;
}
.the-man .the-leg::before {
    right: -72px;
    transform: rotate(45deg);
}
.the-man .the-leg::after {
    right: -108px;
    transform: rotate(-45deg);
}
.wrong-1 .the-draw {
    display: block;
    transition: 0.3s;
}
.wrong-2 .the-stand {
    display: block;
    transition: 0.3s;
}
.wrong-3 .the-rope {
    display: block;
    transition: 0.3s;
}
.wrong-4 .the-head {
    display: block;
    transition: 0.3s;
}
.wrong-5 .the-body {
    display: block;
    transition: 0.3s;
}
.wrong-6 .the-hand {
    display: block;
    transition: 0.3s;
}
.wrong-7 .the-leg {
    display: block;
    transition: 0.3s;
}
.row .letters {
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: #beffdb;
}
.clicked {
    background-color: #222;
    opacity: .2;
    pointer-events: none;
}
.letters .letter-box {
    background-color: #009688;
    width: 55px;
    height: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.letters-guess {
    padding: 20px;
    background-color: #beffdb;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
.letters-guess span {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 3px solid #222;
    margin-right: 10px;
    transition: 0.3s;
}
.letters-guess .with-space {
    border: none;
    background: none;
    position: relative;
}
.letters-guess .with-space::before {
    content: "";
    width: 20px;
    height: 4px;
    background-color: #222;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.finished {
    pointer-events: none;
}
.popup-failed {
    position: fixed;
    background-color: #009688;
    width: 80%;
    padding: 70px 20px;
    top: 10%;
    right: 10%;
    font-size: 40px;
    color: #fff;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: 0.5s;
}
.popup-failed span {
    display: block;
    margin-top: 55px;
    font-size: 30px;
    margin-bottom: -25px;
    text-align: center;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 13px;
    border: 2px solid #DDD;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.popup-failed span:hover {
    transition: 0.3s;
    background-color: #2b766f;
    color: #fff;
}
.popup-failed p {
    font-weight: 800;
    color: burlywood;
    text-transform: uppercase;
}
.game-wrong span {
    color: rgb(187, 65, 65);
    font-weight: bold;
}
footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    margin-top: 20px;
}
footer i {
    color: #009688;
}
footer span {
    color: #222;
    font-weight: bold;
}